<a href="https://colab.research.google.com/github/AlejandroJabobo/THC-tareas/blob/main/thc_hubert_alejandro_garcia_jacobo_12_10_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x= lambda a: a+ 10
print(x(5))

15

In [ ]:
x= lambda a,b: a*b
print(x(5,6))

30

In [ ]:
def mifunc(n):
  return lambda a: a*n
midoble = mifunc(2)
print(midoble(11))

22

In [ ]:
def mifunc(n):
  return lambda a: a*n
midoble = mifunc(2)
mitriple= mifunc(3)
print(midoble(11))
print(mitriple(11))

22
33

In [ ]:
X= [1, 2, 3, 4, 5, 6, 7, 8 , 9, 10]
Y=[]
for i in X:
  if i%2==0:
    Y.append= i
  print(Y)

[]

AttributeError: ignored

In [ ]:
A=[[1,2,3],[4,5,6],[7,8,9]]
print(A )
print(A[0][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [ ]:
A=[[1,2,3],[4,5,6],[7,8,9]]
for j in range (len(A)):
  print(A[j][2])

3
6
9

In [ ]:
A=[[1,2,3],[4,5,6],[7,8,9]]
for i in range (len(A)):
  for j in range (len(A)):
   print(A[i][j])

1
2
3
4
5
6
7
8
9